@font-face{
    font-family: SpaceGrotesk-Light;
    src: url('bermuda/fonts/SpaceGrotesk-Light.ttf') format('ttf');
}
 @font-face{
    font-family: SpaceGrotesk-Regular;
    src: url('bermuda/fonts/SpaceGrotesk-Regular.ttf') format('ttf');
}
@font-face{
    font-family: SpaceGrotesk-Bold;
    src: url('bermuda/fonts/SpaceGrotesk-Bold.ttf') format('ttf');
}
@font-face{
    font-family: knockout;
    src: url('bermuda/fonts/Knockout-51.otf') format('otf');
}

body{
background: rgb(91,165,255);
background: radial-gradient(circle, rgba(91,165,255,1) 0%, rgba(144,255,253,1) 50%, rgba(255,185,216,1) 100%);
}
h1{
font-size:400px;
font-family: knockout;
font-style:normal;
text-align:center;
text-transform:uppercase;
color:white;
opacity:75%;
margin-top:-50px; 
margin-bottom:-70px; 
}

h2{
line-height:0;
font-size:30px;
font-family: SpaceGrotesk-Bold;
font-style:italic;
text-align:center;
text-transform:uppercase;
color:rgba(255,185,216,85%);
text-shadow: 3px 3px rgb(
255, 255, 255, 0.5);
}

h3{
font-size:30px;
font-family: SpaceGrotesk-Regular;
font-weight:300;
font-style:normal;
text-align:center;
color: white; 
}

p{
padding:-50px; 
padding-left:580px;
padding-right:580px;
font-size:18px;
font-family: SpaceGrotesk-Light;
font-weight:100;
font-style:normal;
text-align:center;
color:black; 
line-height: 1.5;
letter-spacing: 2px;
}

a{
font-size:30px;
font-family:SpaceGrotesk-Regular;
color:white; 
text-decoration:none;
text-align:center;
text-transform:uppercase;
}

A:visited{ 
COLOR:white; 
TEXT-DECORATION:none; 
font-weight:normal 
}

A:active{ 
color:rgba(255,185,216); 
TEXT-DECORATION:none;
}

A:hover{ 
font-size: 100px;
font-style:italic;
color:rgba(255,185,216); 
TEXT-DECORATION: none; 
font-weight: none 
}

.thumbnail:hover {
position:relative;
top:-25px;
left:-35px;
width:1000px;
height:auto;
display:block;
z-index:999;
}

ol {
list-style: none; 
counter-reset: li
}

li::before {
content: counter(li); 
color: white;
display: inline-block; 
width: 1em;
margin-left: -1em
}

li {
counter-increment: li
}

ol{
font-size:16px;
font-family:SpaceGrotesk-Regular;
font-weight:100;
color: black;
font-style:normal;
text-align:left;
}

h4{
margin: 24px;
line-height:0;
font-size:20px;
font-family:SpaceGrotesk-Regular;
font-style:italic;
text-align:left;
text-transform:uppercase;
color:white;
}

h5{
margin: 24px;
line-height:0;
font-size:10px;
font-family:SpaceGrotesk-Regular;
font-style:italic;
text-align:left;
text-transform:lowercase;
color:white;
}
